<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group Deals</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style_category.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-top row">
                <div class="logo col">
                    <a href="index.html"><img src="assets/images/Logo.svg" alt="Group Deals" /></a>
                    <input type="text" class="searchbar" placeholder="Search for any product" />
                </div>
                <div class="menu-sm col">
                    <a href="#">About Us</a>
                    <a href="#">How It Works</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Blog</a>
                    <a href="#" class="btn-green">Sign Up</a>
                    <a href="#" class="btn-green-outline">Log In</a>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <div class="container">
            <button type="button" class="btn btn-blue"><img src="assets/images/menu.svg" /> All Categories</button>
            <ul>
                <li><a href="#">Automobiles</a></li>
                <li><a href="#">Consumer Electronic</a></li>
                <li><a href="#">Home Appliances</a></li>
                <li><a href="#">Home Decor</a></li>
                <li><a href="#">Fashion Accessories</a></li>
                <li><a href="#">Beauty Products</a></li>
            </ul>
        </div>
    </div>

    <div class="bridcrumbs">
        <div class="container">
            <ul>
                <li><a href="#">
                        <img src="assets/images/home_icon.svg" alt="" /> Home
                    </a></li>
                <li>
                    Categories
                </li>
            </ul>
        </div>
    </div>

    <div class="back-page">
        <div class="container">
            <h4> <img src="assets/images/backpage.svg" alt=""> Categories</h4>
        </div>
    </div>

    <div class="home-container">




        <section class="box-item mb-143 shop_category">

            <div class="container-fluid">



                <div class="d-flex justify-content-start itemslist">
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/cars_and_bikes.svg" alt=""></div>
                            <h5>Automobiles</h5>
                        </a>

                        <ul class="cate-menu">
                            <li>
                                <a href="#">Cars <img src="assets/images/cat-menu.svg"/></a>
                            </li>
                            <li>
                                <a href="#">Bikes <img src="assets/images/cat-menu.svg"/></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/equipment.svg" alt=""></div>
                            <h5>Consumer Electronic</h5>
                        </a>

                        <ul class="cate-menu">
                            <li>
                                <a href="#">Cell Phones <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Laptops <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Tablets <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Digital Cameras <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Air Conditioners <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Home Entertainment <img src="assets/images/cat-menu.svg"/></a>
                            </li>

                            <li>
                                <a href="#">Digital Cameras <img src="assets/images/cat-menu.svg"/></a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/Flat.svg" alt=""></div>

                            <h5>Home Appliances </h5>

                        </a>

                        <ul class="cate-menu">
                            <li><a href="#">Refrigerators <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Hobs <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Chimneys <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Microwave Ovens <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Washing Machines <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Vacuum Cleaners <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Robotic Vacuum Cleaners <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Steam Iron <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Juicers <img src="assets/images/cat-menu.svg"/></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/home.svg" alt=""></div>

                            <h5>Home Decor </h5>

                        </a>

                        
                    </div>

                </div>
                <div class="d-flex justify-content-start itemslist">

                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/handbag.svg" alt=""></div>

                            <h5>Fashion Accessories</h5>

                        </a>

                        <ul class="cate-menu">
                            <li><a href="#">Handbags <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Purses <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Wallets <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Watches <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Sunglasses <img src="assets/images/cat-menu.svg"/></a></li>
                        </ul>
                    </div>


                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/006-cosmetics.svg" alt=""></div>
                            <h5>Beauty Products</h5>
                        </a>
                        <ul class="cate-menu">
                            <li><a href="#">Skincare Products <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Perfumes <img src="assets/images/cat-menu.svg"/></a></li>
                            <li><a href="#">Haircare Products <img src="assets/images/cat-menu.svg"/></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/stationery.svg" alt=""></div>
                            ÍBooks &amp; Stationery</h5>
                        </a>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/health-insurance.svg" alt=""></div>

                            <h5>Customized Insurance products </h5>

                        </a>
                    </div>

                </div>
                <div class="d-flex justify-content-start itemslist">
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/021-pet-food.svg" alt=""></div>

                            <h5>Pet Supplies </h5>

                        </a>
                    </div>
                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/028-toys.svg" alt=""></div>

                            <h5>Electronic Kids Toys</h5>

                        </a>
                    </div>





                    <div class="col">
                        <a class="item-box" href="#">
                            <div class="product_img"><img src="assets/images/012-fashion.svg" alt=""></div>

                            <h5>Branded Men/Women/Kids Clothes</h5>

                        </a>
                    </div>

                    <div class="col br-n">
                        <a class="item-box" href="#">

                        </a>
                    </div>


                </div>
 

            </div>


        </section>




        <section class="backtotop">
            <div class="container">
                <a href="#">Back to the Top</a>
            </div>
        </section>



        <section class="footer">
            <div class="container">
                <div class="footer-logo">
                    <img src="assets/images/footerlogo.svg" alt="" />
                </div>

                <div class="footer-menu">
                    <div class="row">
                        <div class="col">
                            <h5>Contact Us</h5>
                            <ul>
                                <li><a href="#">+1 (209) 555-0104</a></li>
                                <li><a href="#">example@mail.com</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Live a Feedback</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Get to Know Us</h5>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">All Categories</a></li>
                                <li><a href="#">Advertise with Us</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Payment Methods</h5>
                            <ul>
                                <li><a href="#">Payment Methods Help</a></li>
                                <li><a href="#">Bank Cards</a></li>
                                <li><a href="#">USSD</a></li>
                                <li><a href="#">AEPS</a></li>
                                <li><a href="#">See more <img src="assets/images/Right_Icon.svg" /></a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Popular Customer Support Requests</h5>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Track Orders</a></li>
                                <li><a href="#">Create a Group</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Returns & Replacements</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Sell with Us</h5>
                            <ul>
                                <li><a href="#">Sign up as a vendor</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Returns & Replacements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="socialmedia">

                    <a href="#"><img src="assets/images/facebook.svg" /></a>
                    <a href="#"><img src="assets/images/twitter.svg" /></a>
                    <a href="#"><img src="assets/images/linkedin.svg" /></a>

                </div>
                <div class="row footer-bottom ">
                    <div class="col-md-6">
                        <p>© Copyright 2021 Group Deals. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-end"><a href="#">Terms of Use & Sale</a> <a href="#">Privacy Notice</a> <a
                            href="#">Cookies Notice</a></div>
                </div>
            </div>
        </section>



    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                margin: 0,
                items: 1,
                dots: false,
                nav: true
            })
        })
    </script>
</body>

</html>