<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group Deals</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style_category.css">
    
    <link rel="stylesheet" href="assets/css/signup.css"/>
</head>

<body>

    <div class="signup-conatiner">
        <div class="signup-left">
            <img src="assets/images/GDLogo-t.svg" alt="" class="signup-logo">

            <img src="assets/images/signup.svg" alt="" class="img-fluid signup-img">

            <h4>Welcome!</h4>
            <p>Log In to experience the world of discounted products and benefits through online group buying. </p>
        </div>

        <div class="signup-right">

            <div class="sign-top-right">
                
                <button type="button" class="btn btn-signup w-auto">Sign Up <img src="assets/images/right-green.svg"
                        alt=""></button>
                        <p class="account-message">Do not have an account yet? ?</p>
            </div>

            <div class="signup-form-wrap">
            

            <form action="" class="signupform">
                

                <div class="btn-top-row">
                <button type="button" class="btn btn-signup w-auto float-end m-0">Log in with Email <img src="assets/images/right-green.svg"
                    alt=""></button>
                </div>


                <div class="form-group country">
                    <label for="">Country code</label>
                    <div class="country-code"><img src="assets/images/india.svg" alt=""> +91</div>
                </div>

                <div class="form-group phone phone-wb error-text">
                    <label for="">Phone number</label>
                    <input type="text" name="" id="" class="form-control phone-icon icon-form" placeholder="Enter phone number you signed up with">
                    <span class="error-msg"><img src="assets/images/warning.svg"> Enter a valid phone number</span>
                </div>

                 

                    <div class="form-group">
                        <label for="">Password</label>
                        <span class="con"><input type="text" class="form-control lock-icon  icon-form" placeholder="Enter your password"> <span class="eye-icon"><img src="assets/images/eye-open.svg"/></span> </span>
                    </div>

                    <a href="" class="forgot-password">Forgot a password ?</a>
 

                    <button type="button" class="btn btn-block btn-green btn-disabled mg-84 next" disabled >Log In <img src="assets/images/right-grey.svg" alt=""></button>

                    <div class="socail-btn">
                        <a href="#" class="social-signup"><img src="assets/images/googleicon.svg" alt=""> Sign up with Google</a> <a href="#" class="social-signup"><img src="assets/images/facebookicon.svg" alt=""> Sign up with Facebook</a>
                    </div>
            </form>
        </div>
        </div>
    </div>




    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-signup">
          <div class="modal-content">
             
            <div class="modal-body">
              <p class="warning-msg"><img src="assets/images/warning-orange.svg" alt=""> Mobile number already in use</p>
              <p class="pop-text">Mobile number you used (+910432234378) already is registered in our system.  </p>
              <p class="pop-sm-title">Already have an account?</p>
              <a href="#" class="pop-mm-titile">Log In</a>
              <p class="pop-sm-title">New to Group Deals?</p>
              <a href="#" class="pop-mm-titile mb-8">Create account with a different mobile number</a>
              <a href="#" class="pop-mm-titile mb-8">Still create account with this mobile number</a>
            </div>
          </div>
        </div>
      </div> -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#exampleModal').modal('show');
        });
    </script>
    
</body>

</html>