<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group Deals</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style_category.css">
    <link rel="stylesheet" href="assets/css/select2.css">
    <link rel="stylesheet" href="assets/css/signup.css" />
    <link rel="stylesheet" href="assets/css/extendeds.css">
</head>

<body>

    <div class="signup-conatiner">
        <div class="signup-left">

            <div class="otp-left">

            <img src="assets/images/otp.svg" alt="" class="img-fluid signup-img">

            <h4>Confirming</h4>
            <p>We sent you a message with code </p>
        </div>
        </div>

        <div class="otp-right">



            <div class="signup-form-wrap">


                <form action="" class="otpform">

 
                    <h4 class="otp-title">We sent you an SMS code</h4>
                    <p class="phone-otp">on number <span class="text-green">+1  (800) 7777 5555</span></p>

<div class="otp-input">
    <input type="text" placeholder="X" class="form-control" />
    <input type="text" placeholder="X" class="form-control" />
    <input type="text" placeholder="X" class="form-control" />
    <input type="text" placeholder="X" class="form-control" />
    <input type="text" placeholder="X" class="form-control" />
    <input type="text" placeholder="X" class="form-control" />
</div>
                    <p class="erro-otp"><img src="assets/images/info-sm-red.svg"/> The number is not correct</p>
                    <a class="otp-notrecevied">Code not received ?</a>



                    <div class="btn-otp-bottom">
                        <button class="h-48 br-r-4 w-m btn btn-outline-green float-start left-icon"><img
                                src="assets/images/backgreen.svg" /> Back</button>

                        <button class="h-48 br-r-4 w-m btn btn-default float-end right-icon ml-20 disabled">Confirm <img
                                src="assets/images/nextgrey.svg" /></button>
                         
                    </div>



                    <!--    <div class="btn-otp-bottom">
                        <button class="h-48 br-r-4 w-m btn btn-outline-green float-start left-icon"><img src="assets/images/backgreen.svg"/> Back</button>
                        
                        <button class="h-48 br-r-4 w-m btn btn-green-bg float-end right-icon ml-20 text-white">Confirm <img src="assets/images/nextwhite.svg"/></button>
                        
                      </div> -->


                </form>
            </div>
        </div>
    </div>






    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js'></script>
    <script
        src='https://www.jqueryscript.net/demo/Mobile-friendly-Custom-Scrollbar-Plugin-With-jQuery-NiceScroll/js/jquery.nicescroll.min.js'></script>


    <script src="https://www.chitrasanthe.in/assets/js/select2.full.min.js"></script>
    <script src="assets/js/custom.js"></script>



</body>

</html>