<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group Deals</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="assets/css/style_category.css">
    <link rel="stylesheet" href="assets/css/select2.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-top row">
                <div class="logo col">
                    <a href="index.html"><img src="assets/images/Logo.svg" alt="Group Deals" /></a>
                    <input type="text" class="searchbar" placeholder="Search for any product" />
                </div>
                <div class="menu-sm col">
                    <a href="#">About Us</a>
                    <a href="#">How It Works</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Blog</a>
                    <a href="#" class="btn-green">Sign Up</a>
                    <a href="#" class="btn-green-outline">Log In</a>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <div class="container">
            <button type="button" class="btn btn-blue"><img src="assets/images/menu.svg" /> All Categories</button>
            <ul>
                <li><a href="#">Automobiles</a></li>
                <li><a href="#">Consumer Electronic</a></li>
                <li><a href="#">Home Appliances</a></li>
                <li><a href="#">Home Decor</a></li>
                <li><a href="#">Fashion Accessories</a></li>
                <li><a href="#">Beauty Products</a></li>
            </ul>
        </div>
    </div>



    <div class="back-page sm-heading zero-container-c">
        <div class="container">
            <h4> <img src="assets/images/backpage.svg" alt=""> Robotic Vacuum Cleaner Xiaomi RED <span
                    class="count-item">0
                    items</span></h4>

        </div>
    </div>

    <div class="home-container">


        <div class="container">


            <div class="zero-container">
                <img src="assets/images/zeroresults.svg" alt="">

                <p>Sorry, we’ve got no results for “Robotic Vacuum Cleaner Xiaomi RED Edition. Please, change your
                    search or consider looking on our recommendations.</p>
            </div>


            <div class="row">
                <section class="box-item mb-143 insidelist">
                    <div class="justify-content-start itemslist">
                        <h2 class="scroll-heading">Recommendations for you</h2>
                        <div class="owl-carousel owl-theme">
                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time red"><img src="assets/images/clockred.svg" /> 00:59h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>

                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>

                              
                                
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>


                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example"
                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg" />
                                </div>
                            </div>
                        </div>
                        

                       
                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
    
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
    
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
    
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
    
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>

                        <div class="item item-li">
                            <div class="item-box">
                                <span class="time"><img src="assets/images/clock.svg"> 24:05h</span>
                                <div class="product_img"><img src="assets/images/product.jpg" alt=""></div>
    
                                <div class="star_rating">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/star.svg" alt="">
                                    <img src="assets/images/half_star.svg" alt="">

                                    (2342 ratings)
                                </div>
                                <h5>Robotic Vacuum Cleaner Xiaomi RoboRock S5 Max </h5>
                                <div class="count-slider">
                                    <span class="count">59/80</span> <span class="paid">paid</span>
                                    <span class="percent">74%</span>
    
    
                                    <div class="bar">
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar w-75"></div>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="price">
                                    <span class="mrp">₹3 500</span><span class="off">-14%</span><br>
                                    <span class="saleprice">₹3 210</span>
                                </div>
                                <div class="cart-shop">
                                    <img src="assets/images/cart.svg">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>

                </section>
            </div>
        </div>




        <section class="backtotop">
            <div class="container">
                <a href="#">Back to the Top</a>
            </div>
        </section>



        <section class="footer">
            <div class="container">
                <div class="footer-logo">
                    <img src="assets/images/footerlogo.svg" alt="" />
                </div>

                <div class="footer-menu">
                    <div class="row">
                        <div class="col">
                            <h5>Contact Us</h5>
                            <ul>
                                <li><a href="#">+1 (209) 555-0104</a></li>
                                <li><a href="#">example@mail.com</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Live a Feedback</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Get to Know Us</h5>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">All Categories</a></li>
                                <li><a href="#">Advertise with Us</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Payment Methods</h5>
                            <ul>
                                <li><a href="#">Payment Methods Help</a></li>
                                <li><a href="#">Bank Cards</a></li>
                                <li><a href="#">USSD</a></li>
                                <li><a href="#">AEPS</a></li>
                                <li><a href="#">See more <img src="assets/images/Right_Icon.svg" /></a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Popular Customer Support Requests</h5>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Track Orders</a></li>
                                <li><a href="#">Create a Group</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Returns & Replacements</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Sell with Us</h5>
                            <ul>
                                <li><a href="#">Sign up as a vendor</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Returns & Replacements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="socialmedia">

                    <a href="#"><img src="assets/images/facebook.svg" /></a>
                    <a href="#"><img src="assets/images/twitter.svg" /></a>
                    <a href="#"><img src="assets/images/linkedin.svg" /></a>

                </div>
                <div class="row footer-bottom ">
                    <div class="col-md-6">
                        <p>© Copyright 2021 Group Deals. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-end"><a href="#">Terms of Use & Sale</a> <a href="#">Privacy Notice</a> <a
                            href="#">Cookies Notice</a></div>
                </div>
            </div>
        </section>



    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js'></script>
    <script
        src='https://www.jqueryscript.net/demo/Mobile-friendly-Custom-Scrollbar-Plugin-With-jQuery-NiceScroll/js/jquery.nicescroll.min.js'></script>


    <script src="https://www.chitrasanthe.in/assets/js/select2.full.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        $(document).ready(function() {
          $('.owl-carousel').owlCarousel({
            margin: 0,
            items: 6,
            dots:true,
            nav:false
          })
        })
      </script>
</body>

</html>